#container {
    width: 600px;
    height: 450.953px;
}

#image-container {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../images/image-product-desktop.jpg);
    background-size: cover;
}

#content {
    float: right;
    width: 50%;
}