@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(242, 235, 227);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border-radius: 10px;
    width: 360px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);    
}

#image-container {
    height: 250px;
    background: url(../images/image-product-mobile.jpg) center;
    background-size: cover;
}

#content {
    padding: 2em;
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    line-height: 1em;
}

p#intro {
    margin: 0 0 1em;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    line-height: 1.6em;
    text-align: left;
    margin-top: 15px;
}

#prices {
    position: relative;
    margin-top: 25px;
}

#new-price {
    font-family: 'Fraunces', serif;
    font-size: 2em;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

#old-price {
    position: absolute;
    text-decoration: line-through;
    color: gray;
    font-size: .8em;
    top: 50%;
    transform: translateY(-50%);
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    display: block;
    margin-top: 25px;
    width: 100%;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 18px;
    border-radius: 10px;
    transition: .4s;
}

#text {
    margin-left: 30px;
}

button img {
    display: inline;
    position: absolute;
}

button:hover {
    background-color:  hsl(159, 37%, 22%);
}


/* Media Query */
@media screen and (min-width: 600px) {
    main {
        width: 600px;
        height: 450.953px;
    }
    
    #image-container {
        float: left;
        width: 50%;
        height: 100%;
        background-image: url(../images/image-product-desktop.jpg);
        background-size: cover;
    }
    
    #content {
        float: right;
        width: 50%;
    }
}



